accelerate>=0.31.0
torchvision
diffusers>=0.25.0
transformers>=4.41.2
safetensors
ftfy
tensorboard
Jinja2
peft==0.11.1
sentencepiece
xformers
bitsandbytes

numpy
pandas
tqdm
scikit-learn

open-clip-torch
Pillow
matplotlib

flask
flask-cors

boto3
botocore
minio

python-dotenv
